.logo {
    height: 40px;
}
.carousel-item {
    height: 500px;
}
.carousel-caption {
    background-color: rgba(132, 193, 237, 0.3);
}
.img-slider {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-krug {
    height: 50%;
    width: 50%;
    object-fit: contain;
}
.img-a {
    height: 100%;
    width: 100%;
}
